In [1]:
import pandas as pd
df = pd.read_csv('scraping_results.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'scraping_results.csv'

In [2]:
print("Shape of df", df.shape)

Shape of df (10875, 23)

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10875 entries, 0 to 10874
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10875 non-null  object
 1   Zip Code                             10875 non-null  int64
 2   Type of Property                     10875 non-null  object
 3   Subtype of Property                  10875 non-null  object
 4   Price                                10851 non-null  float64
 5   Type of Sale                         10875 non-null  object
 6   Number of Rooms                      10744 non-null  float64
 7   Livable Space (m2)                   10875 non-null  int64
 8   Fully Equipped Kitchen               10875 non-null  int64
 9   Furnished                            10875 non-null  int64
 10  Any Fireplace ?                      10875 non-null  int64
 11  Terrace                              10875 non-null  int64
 12  Terrace Area (m2)                    4492 non-null   float64
 13  Garden                               10875 non-null  int64
 14  Garden Area (m2)                     3308 non-null   float64
 15  Swimming Pool                        10875 non-null  int64
 16  Surface of the Land (m2)             7137 non-null   float64
 17  Number of Facades                    8324 non-null   float64
 18  Construction Year                    8507 non-null   float64
 19  PEB                                  10220 non-null  object
 20  Primary Energy Consumption (kWh/m2)  9678 non-null   float64
 21  State of the Building                9540 non-null   object
 22  Url                                  10875 non-null  object
dtypes: float64(8), int64(8), object(7)
memory usage: 1.9+ MB
None

In [4]:
df.dropna(subset=['Price'], inplace=True, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10851 entries, 0 to 10850
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10851 non-null  object
 1   Zip Code                             10851 non-null  int64
 2   Type of Property                     10851 non-null  object
 3   Subtype of Property                  10851 non-null  object
 4   Price                                10851 non-null  float64
 5   Type of Sale                         10851 non-null  object
 6   Number of Rooms                      10720 non-null  float64
 7   Livable Space (m2)                   10851 non-null  int64
 8   Fully Equipped Kitchen               10851 non-null  int64
 9   Furnished                            10851 non-null  int64
 10  Any Fireplace ?                      10851 non-null  int64
 11  Terrace                              10851 non-null  int64
 12  Terrace Area (m2)                    4486 non-null   float64
 13  Garden                               10851 non-null  int64
 14  Garden Area (m2)                     3301 non-null   float64
 15  Swimming Pool                        10851 non-null  int64
 16  Surface of the Land (m2)             7121 non-null   float64
 17  Number of Facades                    8309 non-null   float64
 18  Construction Year                    8487 non-null   float64
 19  PEB                                  10197 non-null  object
 20  Primary Energy Consumption (kWh/m2)  9657 non-null   float64
 21  State of the Building                9519 non-null   object
 22  Url                                  10851 non-null  object
dtypes: float64(8), int64(8), object(7)
memory usage: 1.9+ MB

In [5]:
df.dropna(subset=['Number of Rooms'], inplace=True, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10720 entries, 0 to 10719
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10720 non-null  object
 1   Zip Code                             10720 non-null  int64
 2   Type of Property                     10720 non-null  object
 3   Subtype of Property                  10720 non-null  object
 4   Price                                10720 non-null  float64
 5   Type of Sale                         10720 non-null  object
 6   Number of Rooms                      10720 non-null  float64
 7   Livable Space (m2)                   10720 non-null  int64
 8   Fully Equipped Kitchen               10720 non-null  int64
 9   Furnished                            10720 non-null  int64
 10  Any Fireplace ?                      10720 non-null  int64
 11  Terrace                              10720 non-null  int64
 12  Terrace Area (m2)                    4470 non-null   float64
 13  Garden                               10720 non-null  int64
 14  Garden Area (m2)                     3290 non-null   float64
 15  Swimming Pool                        10720 non-null  int64
 16  Surface of the Land (m2)             7040 non-null   float64
 17  Number of Facades                    8237 non-null   float64
 18  Construction Year                    8406 non-null   float64
 19  PEB                                  10105 non-null  object
 20  Primary Energy Consumption (kWh/m2)  9581 non-null   float64
 21  State of the Building                9420 non-null   object
 22  Url                                  10720 non-null  object
dtypes: float64(8), int64(8), object(7)
memory usage: 1.9+ MB

In [6]:
df.describe()

,Zip Code,Price,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,Any Fireplace ?,Terrace,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,Primary Energy Consumption (kWh/m2)
count,10720.000000,1.072000e+04,10720.000000,10720.000000,10720.000000,10720.000000,10720.000000,10720.000000,4470.000000,10720.000000,3290.000000,10720.000000,7040.000000,8237.000000,8406.000000,9581.000000
mean,4709.059795,7.500341e+05,3.638993,249.010168,0.604384,0.035261,0.090205,0.416978,36.280537,0.306903,1081.523708,0.076399,2364.379972,2.974141,1966.520343,316.151550
std,3259.334429,8.648226e+05,2.148835,220.783257,0.489005,0.184448,0.286489,0.493082,92.487624,0.461230,3341.921397,0.265648,7820.468534,0.914078,42.422604,1469.074792
min,1000.000000,2.750000e+04,1.000000,13.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1753.000000,1.000000
25%,1640.000000,2.790000e+05,2.000000,111.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,90.000000,0.000000,255.000000,2.000000,1944.250000,156.000000
50%,3420.500000,5.250000e+05,3.000000,200.000000,1.000000,0.000000,0.000000,0.000000,20.000000,0.000000,289.000000,0.000000,694.500000,3.000000,1972.000000,237.000000
75%,8400.000000,8.500000e+05,4.000000,312.000000,1.000000,0.000000,0.000000,1.000000,40.000000,1.000000,957.000000,0.000000,1719.250000,4.000000,1999.000000,351.000000
max,9992.000000,1.050000e+07,40.000000,5596.000000,1.000000,1.000000,1.000000,1.000000,3749.000000,1.000000,95000.000000,1.000000,160737.000000,9.000000,2026.000000,100000.000000

In [7]:
df.groupby('Zip Code').describe()

          Price                                                              \
          count          mean           std       min        25%        50%
Zip Code
1000      234.0  8.452821e+05  9.589733e+05  125000.0   325000.0   457500.0
1020       56.0  5.366786e+05  2.636323e+05  169000.0   298000.0   524500.0
1030      133.0  5.830677e+05  3.794195e+05  137500.0   320000.0   549000.0
1040       81.0  9.105432e+05  6.329176e+05  145000.0   350000.0   849000.0
1050      279.0  1.399354e+06  1.273615e+06  150000.0   475000.0  1050000.0
...         ...           ...           ...       ...        ...        ...
9982        1.0  5.500000e+05           NaN  550000.0   550000.0   550000.0
9988        1.0  5.990000e+05           NaN  599000.0   599000.0   599000.0
9990       16.0  6.018438e+05  2.842961e+05  235000.0   366500.0   617250.0
9991        9.0  5.382222e+05  3.235930e+05  295000.0   299000.0   415000.0
9992        4.0  1.297250e+06  5.802071e+05  849000.0  1033500.0  1095000.0

                               Number of Rooms            ...  \
                75%        max           count      mean  ...
Zip Code                                                  ...
1000       975000.0  5459000.0           234.0  3.282051  ...
1020       723250.0  1150000.0            56.0  3.946429  ...
1030       699000.0  3300000.0           133.0  3.639098  ...
1040      1295000.0  3100000.0            81.0  3.802469  ...
1050      1757500.0  8500000.0           279.0  4.161290  ...
...             ...        ...             ...       ...  ...
9982       550000.0   550000.0             1.0  3.000000  ...
9988       599000.0   599000.0             1.0  4.000000  ...
9990       795000.0  1165000.0            16.0  3.687500  ...
9991       679000.0  1285000.0             9.0  3.444444  ...
9992      1358750.0  2150000.0             4.0  4.000000  ...

         Construction Year         Primary Energy Consumption (kWh/m2)  \
                       75%     max                               count
Zip Code
1000               2009.75  2026.0                               203.0
1020               1975.75  2023.0                                53.0
1030               1964.00  2021.0                               119.0
1040               1961.00  2023.0                                68.0
1050               1973.50  2026.0                               214.0
...                    ...     ...                                 ...
9982               1968.00  1968.0                                 1.0
9988                   NaN     NaN                                 1.0
9990               2016.50  2022.0                                13.0
9991               2013.00  2022.0                                 9.0
9992               1984.75  2005.0                                 4.0


                mean          std    min     25%    50%    75%      max
Zip Code
1000      325.743842  1712.505611   40.0  136.50  188.0  239.0  24554.0
1020      332.320755   211.414447   75.0  185.00  289.0  451.0    943.0
1030      271.613445   134.658898   50.0  164.00  254.0  339.0    693.0
1040      472.161765  1509.440052   57.0  180.25  272.5  343.0  12660.0
1050      268.485981   300.919291   31.0  160.25  221.5  296.5   4191.0
...              ...          ...    ...     ...    ...    ...      ...
9982      352.000000          NaN  352.0  352.00  352.0  352.0    352.0
9988      161.000000          NaN  161.0  161.00  161.0  161.0    161.0
9990      330.461538   371.496437   15.0   79.00  262.0  344.0   1259.0
9991      184.777778    91.267160   58.0  117.00  187.0  256.0    329.0
9992      371.500000   264.229067   91.0  173.50  399.0  597.0    597.0

[840 rows x 120 columns]

In [8]:
#Count the number of unique values, two ways are possible
df['Locality'].value_counts().count()
df['Locality'].nunique()

1372

In [9]:
df['Zip Code'].value_counts().count()
df['Zip Code'].nunique()

840

In [10]:
# Find the index of the current 'Any Fireplace ?' column
fireplaces_index = df.columns.get_loc('Any Fireplace ?')

# Create the new 'Open Fire' column based on 'Any Fireplace ?'
df['Open Fire'] = df['Any Fireplace ?'].apply(lambda x: 0 if x == 0 else 1)

# Insert the new 'Open Fire' column at the same index
df.insert(fireplaces_index, 'Open Fire', df.pop('Open Fire'))

In [11]:
df.columns

Index(['Locality', 'Zip Code', 'Type of Property', 'Subtype of Property',
       'Price', 'Type of Sale', 'Number of Rooms', 'Livable Space (m2)',
       'Fully Equipped Kitchen', 'Furnished', 'Open Fire', 'Any Fireplace ?',
       'Terrace', 'Terrace Area (m2)', 'Garden', 'Garden Area (m2)',
       'Swimming Pool', 'Surface of the Land (m2)', 'Number of Facades',
       'Construction Year', 'PEB', 'Primary Energy Consumption (kWh/m2)',
       'State of the Building', 'Url'],
      dtype='object')

In [12]:
df = df.drop(columns=['Any Fireplace ?'])

In [13]:
df.columns

Index(['Locality', 'Zip Code', 'Type of Property', 'Subtype of Property',
       'Price', 'Type of Sale', 'Number of Rooms', 'Livable Space (m2)',
       'Fully Equipped Kitchen', 'Furnished', 'Open Fire', 'Terrace',
       'Terrace Area (m2)', 'Garden', 'Garden Area (m2)', 'Swimming Pool',
       'Surface of the Land (m2)', 'Number of Facades', 'Construction Year',
       'PEB', 'Primary Energy Consumption (kWh/m2)', 'State of the Building',
       'Url'],
      dtype='object')

In [14]:
df.shape

(10720, 23)

In [15]:
# Encode type of property (House = 1, Apartment = 0)
df['Type of Property'] = df['Type of Property'].replace({'House': 1, 'Apartment': 0}).infer_objects(copy=False)

# Encode type of sales as numeric
df['Type of Sale'] = df['Type of Sale'].replace({'for-sale': 1}).infer_objects(copy=False)

C:\Users\olyas\AppData\Local\Temp\ipykernel_31876\219586306.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Type of Property'] = df['Type of Property'].replace({'House': 1, 'Apartment': 0}).infer_objects(copy=False)
C:\Users\olyas\AppData\Local\Temp\ipykernel_31876\219586306.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Type of Sale'] = df['Type of Sale'].replace({'for-sale': 1}).infer_objects(copy=False)

In [16]:
# Replace missing values in the 'Number of Facades' columns with 0
df['Number of Facades'] = df['Number of Facades'].fillna(0)

# Replace 'Number of facades' with 1 where 'Type of Property' is 0 (apartment) and 'Number of facades' is 0
df.loc[(df['Type of Property'] == 0) & (df['Number of Facades'] == 0), 'Number of Facades'] = 1

# Replace 'Number of Facades' with 2 where 'Subtype of Property' is 'duplex' or 'town-house' and 'Number of Facades' is 0
df.loc[(df['Subtype of Property'].isin(['duplex', 'town-house'])) & (df['Number of Facades'] == 0), 'Number of Facades'] = 2

# Replace remaining 'Number of Facades' 0 values for remaining houses with 4
# Replace 'Number of Facades' with 4 where 'Type of Property' is 1 (House) and 'Number of Facades' is 0
df.loc[(df['Type of Property'] == 1) & (df['Number of Facades'] == 0), 'Number of Facades'] = 4

# Encode state of the building: Ordinal encoding, since categories have inherent order
state_mapping = {
    'To restore': 0,
    'To renovate': 1,
    'To be done up': 2,
    'Good': 3,
    'Just renovated': 4,
    'As new': 5
}

df['State of the Building'] = df['State of the Building'].replace(state_mapping)
df['State of the Building'] = df['State of the Building'].fillna(round(df['State of the Building'].mean(), 0))

C:\Users\olyas\AppData\Local\Temp\ipykernel_31876\920117432.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['State of the Building'] = df['State of the Building'].replace(state_mapping)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10720 entries, 0 to 10719
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10720 non-null  object
 1   Zip Code                             10720 non-null  int64
 2   Type of Property                     10720 non-null  int64
 3   Subtype of Property                  10720 non-null  object
 4   Price                                10720 non-null  float64
 5   Type of Sale                         10720 non-null  int64
 6   Number of Rooms                      10720 non-null  float64
 7   Livable Space (m2)                   10720 non-null  int64
 8   Fully Equipped Kitchen               10720 non-null  int64
 9   Furnished                            10720 non-null  int64
 10  Open Fire                            10720 non-null  int64
 11  Terrace                              10720 non-null  int64
 12  Terrace Area (m2)                    4470 non-null   float64
 13  Garden                               10720 non-null  int64
 14  Garden Area (m2)                     3290 non-null   float64
 15  Swimming Pool                        10720 non-null  int64
 16  Surface of the Land (m2)             7040 non-null   float64
 17  Number of Facades                    10720 non-null  float64
 18  Construction Year                    8406 non-null   float64
 19  PEB                                  10105 non-null  object
 20  Primary Energy Consumption (kWh/m2)  9581 non-null   float64
 21  State of the Building                10720 non-null  float64
 22  Url                                  10720 non-null  object
dtypes: float64(9), int64(10), object(4)
memory usage: 1.9+ MB

In [18]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Gent,9000,0,apartment,229000.0,1,1.0,44,0,0,...,0,NaN,0,NaN,2.0,1918.0,B,190.0,3.0,https://www.immoweb.be/en/classified/apartment...
1,Uccle,1180,1,villa,1250000.0,1,4.0,584,1,0,...,1,1085.0,0,1225.0,4.0,1932.0,G,402.0,1.0,https://www.immoweb.be/en/classified/villa/for...
2,Etterbeek,1040,1,house,875000.0,1,4.0,233,1,0,...,0,NaN,0,112.0,3.0,1929.0,G,563.0,2.0,https://www.immoweb.be/en/classified/house/for...
3,Elversele,9140,1,villa,825000.0,1,4.0,281,0,0,...,0,NaN,1,1450.0,4.0,2001.0,B,181.0,5.0,https://www.immoweb.be/en/classified/villa/for...
4,Kalmthout,2920,1,manor-house,4750000.0,1,3.0,326,0,0,...,0,NaN,0,34799.0,4.0,2015.0,A,95.0,5.0,https://www.immoweb.be/en/classified/manor-hou...

In [19]:
# Replace missing values in the 'Terrace Area (m2)' columns with 0
df['Terrace Area (m2)'] = df['Terrace Area (m2)'].fillna(0)

# Replace missing values in the 'Garden Area (m2)' columns with 0
df['Garden Area (m2)'] = df['Garden Area (m2)'].fillna(0)

# Replace missing values in the 'Surface of the Land (m2)' columns with 0
df['Surface of the Land (m2)'] = df['Surface of the Land (m2)'].fillna(0)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10720 entries, 0 to 10719
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10720 non-null  object
 1   Zip Code                             10720 non-null  int64
 2   Type of Property                     10720 non-null  int64
 3   Subtype of Property                  10720 non-null  object
 4   Price                                10720 non-null  float64
 5   Type of Sale                         10720 non-null  int64
 6   Number of Rooms                      10720 non-null  float64
 7   Livable Space (m2)                   10720 non-null  int64
 8   Fully Equipped Kitchen               10720 non-null  int64
 9   Furnished                            10720 non-null  int64
 10  Open Fire                            10720 non-null  int64
 11  Terrace                              10720 non-null  int64
 12  Terrace Area (m2)                    10720 non-null  float64
 13  Garden                               10720 non-null  int64
 14  Garden Area (m2)                     10720 non-null  float64
 15  Swimming Pool                        10720 non-null  int64
 16  Surface of the Land (m2)             10720 non-null  float64
 17  Number of Facades                    10720 non-null  float64
 18  Construction Year                    8406 non-null   float64
 19  PEB                                  10105 non-null  object
 20  Primary Energy Consumption (kWh/m2)  9581 non-null   float64
 21  State of the Building                10720 non-null  float64
 22  Url                                  10720 non-null  object
dtypes: float64(9), int64(10), object(4)
memory usage: 1.9+ MB

In [21]:
# Encode PEB: Ordinal encoding, since categories have inherent order
PEB_mapping = {
    'G': 0,
    'F': 1,
    'E': 2,
    'D': 3,
    'C': 4,
    'B': 5,
    'A': 6
}

df['PEB'] = df['PEB'].replace(PEB_mapping)

df['PEB'] = df['PEB'].fillna(0)

C:\Users\olyas\AppData\Local\Temp\ipykernel_31876\2423113776.py:12: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['PEB'] = df['PEB'].replace(PEB_mapping)

In [22]:
# Replace missing values in the 'Primary Energy Consumption (kWh/m2)' columns with mean value
df['Primary Energy Consumption (kWh/m2)'] = df['Primary Energy Consumption (kWh/m2)'].fillna(round(df['Primary Energy Consumption (kWh/m2)'].mean(),0))
#df['Primary Energy Consumption (kWh/m2)'] = df.groupby('PEB')['Primary Energy Consumption (kWh/m2)'].apply(lambda x: x.fillna(x.mean()))

In [23]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Gent,9000,0,apartment,229000.0,1,1.0,44,0,0,...,0,0.0,0,0.0,2.0,1918.0,5.0,190.0,3.0,https://www.immoweb.be/en/classified/apartment...
1,Uccle,1180,1,villa,1250000.0,1,4.0,584,1,0,...,1,1085.0,0,1225.0,4.0,1932.0,0.0,402.0,1.0,https://www.immoweb.be/en/classified/villa/for...
2,Etterbeek,1040,1,house,875000.0,1,4.0,233,1,0,...,0,0.0,0,112.0,3.0,1929.0,0.0,563.0,2.0,https://www.immoweb.be/en/classified/house/for...
3,Elversele,9140,1,villa,825000.0,1,4.0,281,0,0,...,0,0.0,1,1450.0,4.0,2001.0,5.0,181.0,5.0,https://www.immoweb.be/en/classified/villa/for...
4,Kalmthout,2920,1,manor-house,4750000.0,1,3.0,326,0,0,...,0,0.0,0,34799.0,4.0,2015.0,6.0,95.0,5.0,https://www.immoweb.be/en/classified/manor-hou...

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10720 entries, 0 to 10719
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10720 non-null  object
 1   Zip Code                             10720 non-null  int64
 2   Type of Property                     10720 non-null  int64
 3   Subtype of Property                  10720 non-null  object
 4   Price                                10720 non-null  float64
 5   Type of Sale                         10720 non-null  int64
 6   Number of Rooms                      10720 non-null  float64
 7   Livable Space (m2)                   10720 non-null  int64
 8   Fully Equipped Kitchen               10720 non-null  int64
 9   Furnished                            10720 non-null  int64
 10  Open Fire                            10720 non-null  int64
 11  Terrace                              10720 non-null  int64
 12  Terrace Area (m2)                    10720 non-null  float64
 13  Garden                               10720 non-null  int64
 14  Garden Area (m2)                     10720 non-null  float64
 15  Swimming Pool                        10720 non-null  int64
 16  Surface of the Land (m2)             10720 non-null  float64
 17  Number of Facades                    10720 non-null  float64
 18  Construction Year                    8406 non-null   float64
 19  PEB                                  10720 non-null  float64
 20  Primary Energy Consumption (kWh/m2)  10720 non-null  float64
 21  State of the Building                10720 non-null  float64
 22  Url                                  10720 non-null  object
dtypes: float64(10), int64(10), object(3)
memory usage: 1.9+ MB

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10720 entries, 0 to 10719
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10720 non-null  object
 1   Zip Code                             10720 non-null  int64
 2   Type of Property                     10720 non-null  int64
 3   Subtype of Property                  10720 non-null  object
 4   Price                                10720 non-null  float64
 5   Type of Sale                         10720 non-null  int64
 6   Number of Rooms                      10720 non-null  float64
 7   Livable Space (m2)                   10720 non-null  int64
 8   Fully Equipped Kitchen               10720 non-null  int64
 9   Furnished                            10720 non-null  int64
 10  Open Fire                            10720 non-null  int64
 11  Terrace                              10720 non-null  int64
 12  Terrace Area (m2)                    10720 non-null  float64
 13  Garden                               10720 non-null  int64
 14  Garden Area (m2)                     10720 non-null  float64
 15  Swimming Pool                        10720 non-null  int64
 16  Surface of the Land (m2)             10720 non-null  float64
 17  Number of Facades                    10720 non-null  float64
 18  Construction Year                    8406 non-null   float64
 19  PEB                                  10720 non-null  float64
 20  Primary Energy Consumption (kWh/m2)  10720 non-null  float64
 21  State of the Building                10720 non-null  float64
 22  Url                                  10720 non-null  object
dtypes: float64(10), int64(10), object(3)
memory usage: 1.9+ MB

In [26]:
df = df.drop(columns=['Construction Year'])

In [27]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Gent,9000,0,apartment,229000.0,1,1.0,44,0,0,...,0.0,0,0.0,0,0.0,2.0,5.0,190.0,3.0,https://www.immoweb.be/en/classified/apartment...
1,Uccle,1180,1,villa,1250000.0,1,4.0,584,1,0,...,0.0,1,1085.0,0,1225.0,4.0,0.0,402.0,1.0,https://www.immoweb.be/en/classified/villa/for...
2,Etterbeek,1040,1,house,875000.0,1,4.0,233,1,0,...,21.0,0,0.0,0,112.0,3.0,0.0,563.0,2.0,https://www.immoweb.be/en/classified/house/for...
3,Elversele,9140,1,villa,825000.0,1,4.0,281,0,0,...,0.0,0,0.0,1,1450.0,4.0,5.0,181.0,5.0,https://www.immoweb.be/en/classified/villa/for...
4,Kalmthout,2920,1,manor-house,4750000.0,1,3.0,326,0,0,...,0.0,0,0.0,0,34799.0,4.0,6.0,95.0,5.0,https://www.immoweb.be/en/classified/manor-hou...

In [28]:
#Count duplicates for the same properties that have different URL.
df.duplicated(subset=df.columns.difference(['Url'])).value_counts()

False    10573
True       147
Name: count, dtype: int64

In [29]:
#Remove duplicates for the same properties that have different URL.
df.drop_duplicates(subset=df.columns.difference(['Url']), inplace=True)

In [30]:
df.shape

(10573, 22)

In [31]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Gent,9000,0,apartment,229000.0,1,1.0,44,0,0,...,0.0,0,0.0,0,0.0,2.0,5.0,190.0,3.0,https://www.immoweb.be/en/classified/apartment...
1,Uccle,1180,1,villa,1250000.0,1,4.0,584,1,0,...,0.0,1,1085.0,0,1225.0,4.0,0.0,402.0,1.0,https://www.immoweb.be/en/classified/villa/for...
2,Etterbeek,1040,1,house,875000.0,1,4.0,233,1,0,...,21.0,0,0.0,0,112.0,3.0,0.0,563.0,2.0,https://www.immoweb.be/en/classified/house/for...
3,Elversele,9140,1,villa,825000.0,1,4.0,281,0,0,...,0.0,0,0.0,1,1450.0,4.0,5.0,181.0,5.0,https://www.immoweb.be/en/classified/villa/for...
4,Kalmthout,2920,1,manor-house,4750000.0,1,3.0,326,0,0,...,0.0,0,0.0,0,34799.0,4.0,6.0,95.0,5.0,https://www.immoweb.be/en/classified/manor-hou...

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10573 entries, 0 to 10719
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             10573 non-null  object
 1   Zip Code                             10573 non-null  int64
 2   Type of Property                     10573 non-null  int64
 3   Subtype of Property                  10573 non-null  object
 4   Price                                10573 non-null  float64
 5   Type of Sale                         10573 non-null  int64
 6   Number of Rooms                      10573 non-null  float64
 7   Livable Space (m2)                   10573 non-null  int64
 8   Fully Equipped Kitchen               10573 non-null  int64
 9   Furnished                            10573 non-null  int64
 10  Open Fire                            10573 non-null  int64
 11  Terrace                              10573 non-null  int64
 12  Terrace Area (m2)                    10573 non-null  float64
 13  Garden                               10573 non-null  int64
 14  Garden Area (m2)                     10573 non-null  float64
 15  Swimming Pool                        10573 non-null  int64
 16  Surface of the Land (m2)             10573 non-null  float64
 17  Number of Facades                    10573 non-null  float64
 18  PEB                                  10573 non-null  float64
 19  Primary Energy Consumption (kWh/m2)  10573 non-null  float64
 20  State of the Building                10573 non-null  float64
 21  Url                                  10573 non-null  object
dtypes: float64(9), int64(10), object(3)
memory usage: 1.9+ MB

In [33]:
df.shape

(10573, 22)

In [34]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Gent,9000,0,apartment,229000.0,1,1.0,44,0,0,...,0.0,0,0.0,0,0.0,2.0,5.0,190.0,3.0,https://www.immoweb.be/en/classified/apartment...
1,Uccle,1180,1,villa,1250000.0,1,4.0,584,1,0,...,0.0,1,1085.0,0,1225.0,4.0,0.0,402.0,1.0,https://www.immoweb.be/en/classified/villa/for...
2,Etterbeek,1040,1,house,875000.0,1,4.0,233,1,0,...,21.0,0,0.0,0,112.0,3.0,0.0,563.0,2.0,https://www.immoweb.be/en/classified/house/for...
3,Elversele,9140,1,villa,825000.0,1,4.0,281,0,0,...,0.0,0,0.0,1,1450.0,4.0,5.0,181.0,5.0,https://www.immoweb.be/en/classified/villa/for...
4,Kalmthout,2920,1,manor-house,4750000.0,1,3.0,326,0,0,...,0.0,0,0.0,0,34799.0,4.0,6.0,95.0,5.0,https://www.immoweb.be/en/classified/manor-hou...

In [35]:
df.columns

Index(['Locality', 'Zip Code', 'Type of Property', 'Subtype of Property',
       'Price', 'Type of Sale', 'Number of Rooms', 'Livable Space (m2)',
       'Fully Equipped Kitchen', 'Furnished', 'Open Fire', 'Terrace',
       'Terrace Area (m2)', 'Garden', 'Garden Area (m2)', 'Swimming Pool',
       'Surface of the Land (m2)', 'Number of Facades', 'PEB',
       'Primary Energy Consumption (kWh/m2)', 'State of the Building', 'Url'],
      dtype='object')

In [200]:
# Create the new 'Open Fire' column based on 'Number of Fireplaces (0 for 0 fireplaces and 1 for more than 1 fireplaces)
#df['Open Fire'] = df['Number of Fireplaces'].apply(lambda x: 0 if x == 0 else 1)

In [201]:
#Rename a name of column "Open Fire" for "Number of Fireplaces"
#df.rename(columns={'Open Fire': 'Number of Fireplaces'})

In [36]:
df['Number of Facades'].value_counts()

Number of Facades
4.0    4419
2.0    3440
3.0    1460
1.0    1252
9.0       1
6.0       1
Name: count, dtype: int64

In [40]:
def add_province(zip):
    first_two_digits = int(str(zip)[:2])
    if 10 <= first_two_digits <= 12:
        return "Brussels-Capital Region"
    elif 13 <= first_two_digits <= 14:
        return "Province of Walloon Brabant"
    elif 15 <= first_two_digits <= 19 or 30 <= first_two_digits <= 34:
        return "Province of Flemish Brabant"
    elif 20 <= first_two_digits <= 29:
        return "Province of Antwerp"
    elif 35 <= first_two_digits <= 39:
        return "Province of Limburg"
    elif 40 <= first_two_digits <= 49:
        return "Province of Liège"
    elif 66 <= first_two_digits <= 69:
        return "Province of Luxembourg"
    elif 50 <= first_two_digits <= 56:
        return "Province of Namur"
    elif 60 <= first_two_digits <= 65 or 70 <= first_two_digits <= 79:
        return "Province of Hainaut"
    elif 80 <= first_two_digits <= 89:
        return "Province of West Flanders"
    elif 90 <= first_two_digits <= 99:
        return "Province of East Flanders"
    else:
        return "Unknown"

df['Province'] = df['Zip Code'].apply(add_province)

In [41]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url,Province
0,Gent,9000,0,apartment,229000.0,1,1.0,44,0,0,...,0,0.0,0,0.0,2.0,5.0,190.0,3.0,https://www.immoweb.be/en/classified/apartment...,Province of East Flanders
1,Uccle,1180,1,villa,1250000.0,1,4.0,584,1,0,...,1,1085.0,0,1225.0,4.0,0.0,402.0,1.0,https://www.immoweb.be/en/classified/villa/for...,Brussels-Capital Region
2,Etterbeek,1040,1,house,875000.0,1,4.0,233,1,0,...,0,0.0,0,112.0,3.0,0.0,563.0,2.0,https://www.immoweb.be/en/classified/house/for...,Brussels-Capital Region
3,Elversele,9140,1,villa,825000.0,1,4.0,281,0,0,...,0,0.0,1,1450.0,4.0,5.0,181.0,5.0,https://www.immoweb.be/en/classified/villa/for...,Province of East Flanders
4,Kalmthout,2920,1,manor-house,4750000.0,1,3.0,326,0,0,...,0,0.0,0,34799.0,4.0,6.0,95.0,5.0,https://www.immoweb.be/en/classified/manor-hou...,Province of Antwerp

In [203]:
df.to_csv('csv_files\\v1_dataset.csv', index=False)